.scene-li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.scene-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scene-counter {
    color: grey;
}
